body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffccf2; /* Rosa claro */
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #ff66b2; /* Rosa para o título */
}

nav {
    background-color: #e6e6ff; /* Lilás */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #ff66b2; /* Rosa mais escuro para hover */
}

section {
    padding: 20px;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #ff66b2; /* Rosa para os títulos */
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 10px 0;
}
